<div class="card" *ngIf="tarea" > <!-- ngIf es una condicional como el if tradicional-->
    <div class="card-header text-center text-white" 
    [ngClass]="{
        'bg-primary': tarea.status == 'Pendiente',
        'bg-success': tarea.status == 'Completado',
        'bg-danger':  tarea.status == 'Retrasado'
    }">
        <h2>{{tarea.titulo}}</h2>
    </div>
    <div class="card-body">
        {{tarea.descripcion}}
    </div>
    <div class="card-footer text-center d-flex justify-content-between">
        <p></p>
        <p [ngClass]="{
                        'text-primary': tarea.status == 'Pendiente',
                        'text-success': tarea.status == 'Completado',
                        'text-danger':  tarea.status == 'Retrasado'
                    }">
            {{tarea.status}}
        </p>
        <div class="text-end">
            <button class="btn btn-small btn-danger" (click)="cambiarStatus(tareaStatus.Pendiente)"
                *ngIf="tarea.status == 'Pendiente'">R</button>

            <button class="btn btn-small btn-success" (click)="cambiarStatus(tareaStatus.Completado)"
                *ngIf="tarea.status != 'Completado'">C</button>
        </div>
    </div>
</div>
